.cardSection { width: 100%; padding: 10px;}
.sectionContent { width: 100%; }

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #cecece;
  border-radius: 15px;
  color: inherit;
  transition: box-shadow 0.3s ease;
}

.card:hover {
	box-shadow: 0px 0px 12px var(--ifm-color-content-secondary);
	text-decoration: none;
	background-color: var(--ifm-color-emphasis-200);
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
	text-align: center;
}

.card:hover .title {
  color: #3578e5;
}

.text {
  font-size: 1rem;
	color: var(--ifm-color-content-secondary);
}
